# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Production
*.log

# Environment
auth.log
.env
.env.local
.env.*.local

# Prisma
dev.db
dev.db-journal
prisma/migrations

# Vercel
.vercel

# IDE
/.idea
.vscode
*.swp
